@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --sidebar-width: 16rem;
    --sidebar-width-collapsed: 4rem;
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --tertiary: 34 92% 54%;
    --tertiary-foreground: 34 92% 54% / 0.25;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 175 79% 26%;
    --accent-foreground: 168 86% 89%;
    --contrast: 217 91% 65%;
    --contrast-foreground: 213 94% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0, 100%, 97%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.1rem;
  }
  .dark {
    --background: 0 0 7%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --tertiary: 34 92% 54%;
    --tertiary-foreground: 34 92% 54% / 0.25;
    --muted: 0 0 10%;
    --muted-foreground: 0 0 50%;
    --accent: 173 66% 50%;
    --accent-foreground: 179 84% 10%;
    --contrast: 217 91% 55%;
    --contrast-foreground: 213 94% 15%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 85% 60% / 0.15;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply overflow-x-hidden scroll-smooth bg-background text-foreground;
  }
}

@layer components {
  .scrollable {
    @apply overflow-auto pr-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-muted-foreground hover:[&::-webkit-scrollbar-thumb]:bg-muted-foreground/30 [&::-webkit-scrollbar-track]:bg-transparent [&::-webkit-scrollbar]:hidden [&::-webkit-scrollbar]:w-2 hover:[&::-webkit-scrollbar]:block;
  }
}
